.home {
  height: 100vh;
  display: flex;
}
.homebtn {
  color: var(--text-50);
  background-color: var(--primary-600);
  margin: 10px;
}
.homebtn:hover {
  background-color: var(--primary-500);
  box-shadow: 0 0 10px var(--primary-700);
}
