.modalOverlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: flex;
}

.modalContent {
  position: absolute;
  background-color: var(--background-100);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  width: 100%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
}


.modalHome {
  transform: translate(0);
}



