.modalOverlay {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.modalContent {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  width: 600px;
}

form {
  gap: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-100);
}

.modalHome {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
}
