.barra {
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--accent-600);
    overflow: hidden;
    padding: 10px;
  }
  
  .expandida {
    width: 200px;
    height: 100vh;

  }
  
  .colapsada {
    width: 80px;
    height: 10vh;

  }
  
  .barraMenu {
    background-color: var(--primary-800);
    border: none;
    cursor: pointer;
    width: 70%;
    height: 40px;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  