.radioBtn {
  background-color: white;
  color: black;
  font-size: 20px;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  input {
    display: none;
  }

  &:has(input:checked) {
    background-color: var(--primary-500);
    color: white;
    transition: 0.5s;
  }
}

.radioBtn:hover {
  background-color: var(--secondary-400);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.SHcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.SHselect {
  margin: 10px;
  color: black;
}
.SHbtn {
  color: var(--text-50);
  background-color: var(--primary-600);
  margin: 10px;
  transition: all 0.5s ease;
}
.SHbtn:hover {
  background-color: var(--primary-500);
  box-shadow: 0 0 10px var(--primary-700);
}
