:root[data-theme="light"] {
  --text-50: #eff6f3;
  --text-100: #dfece6;
  --text-200: #bfd9ce;
  --text-300: #9fc6b5;
  --text-400: #7eb49d;
  --text-500: #5ea184;
  --text-600: #4b816a;
  --text-700: #39604f;
  --text-800: #264035;
  --text-900: #13201a;
  --text-950: #09100d;

  --background-50: #eef6f2;
  --background-100: #ddeee6;
  --background-200: #bbddcc;
  --background-300: #99ccb3;
  --background-400: #77bb99;
  --background-500: #55aa80;
  --background-600: #448866;
  --background-700: #33664d;
  --background-800: #224433;
  --background-900: #11221a;
  --background-950: #09110d;

  --primary-50: #eff6f2;
  --primary-100: #deede6;
  --primary-200: #bddbcc;
  --primary-300: #9cc9b3;
  --primary-400: #7bb799;
  --primary-500: #5ba480;
  --primary-600: #488466;
  --primary-700: #36634d;
  --primary-800: #244233;
  --primary-900: #12211a;
  --primary-950: #09100d;

  --secondary-50: #eff4f6;
  --secondary-100: #deeaed;
  --secondary-200: #bdd4db;
  --secondary-300: #9cbfc9;
  --secondary-400: #7baab7;
  --secondary-500: #5b94a4;
  --secondary-600: #487784;
  --secondary-700: #365963;
  --secondary-800: #243b42;
  --secondary-900: #121e21;
  --secondary-950: #090f10;

  --accent-50: #eff2f6;
  --accent-100: #dee5ed;
  --accent-200: #bdccdb;
  --accent-300: #9cb2c9;
  --accent-400: #7b98b7;
  --accent-500: #5b7ea4;
  --accent-600: #486584;
  --accent-700: #364c63;
  --accent-800: #243342;
  --accent-900: #121921;
  --accent-950: #090d10;

}
:root[data-theme="dark"] {
  --text-50: #09100d;
  --text-100: #12211a;
  --text-200: #254135;
  --text-300: #37624f;
  --text-400: #49836a;
  --text-500: #5ca384;
  --text-600: #7cb69d;
  --text-700: #9dc8b5;
  --text-800: #bedace;
  --text-900: #deede6;
  --text-950: #eff6f3;

  --background-50: #0a0f0f;
  --background-100: #141f1f;
  --background-200: #293d3d;
  --background-300: #3d5c5c;
  --background-400: #527a7a;
  --background-500: #669999;
  --background-600: #85adad;
  --background-700: #a3c2c2;
  --background-800: #c2d6d6;
  --background-900: #e0ebeb;
  --background-950: #f0f5f5;

  --primary-50: #09100d;
  --primary-100: #12211a;
  --primary-200: #244233;
  --primary-300: #36634d;
  --primary-400: #488466;
  --primary-500: #5ba480;
  --primary-600: #7bb799;
  --primary-700: #9cc9b3;
  --primary-800: #bddbcc;
  --primary-900: #deede6;
  --primary-950: #eff6f2;

  --secondary-50: #090f10;
  --secondary-100: #121e21;
  --secondary-200: #243b42;
  --secondary-300: #365963;
  --secondary-400: #487784;
  --secondary-500: #5b94a4;
  --secondary-600: #7baab7;
  --secondary-700: #9cbfc9;
  --secondary-800: #bdd4db;
  --secondary-900: #deeaed;
  --secondary-950: #eff4f6;

  --accent-50: #090d10;
  --accent-100: #121921;
  --accent-200: #243342;
  --accent-300: #364c63;
  --accent-400: #486584;
  --accent-500: #5b7ea4;
  --accent-600: #7b98b7;
  --accent-700: #9cb2c9;
  --accent-800: #bdccdb;
  --accent-900: #dee5ed;
  --accent-950: #eff2f6;

}


body,html,#root  {
  background-color: var(--background-50);
  color: var(--text-950);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



